.register-container {

    .register-form {
        display: flex;
        flex-direction: column;
        gap: 5px;



        .submit {
            background-color: #72ffaf;

            &:hover {
                background-color: #2efa85;
            }
        }

        .span-error {
            color: tomato;
            font-size: x-small;
        }
    }


}