footer {
    width: 99vw;
    height: 130px;
    color: #fdfefe;
    background-color: #070707;
    text-align: center;
    display: grid;
    place-content: center;

    p {
        margin: 0;
    }

    .footer {
        display: grid;
        width: 100%;
        padding: 5px;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: repeat(2, 50px);

    }
    .middle {
        grid-column: 2 / 3; /* Segunda columna */
        grid-row: 2 / 3; /* Segunda fila */
    }
}