.price-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    .img-price{
        border-radius: 10px;
    }
    .text-price{
        text-align: center;
        margin: 50px 0px !important ;
    }
    .cards-container{
        display: flex;
        gap: 50px;
        margin-bottom: 40px;
    
    }
}

@media screen and (max-width: 426px)
{
    .price-container{
        .img-price{
            max-width: 100%;
        }
        .cards-container{
flex-direction: column;
        
        }

    }
}